=form_for @topic do |f|
	br
		=f.text_field :title, placeholder: "Topic"
		=f.text_field :description, type:"text", placeholder: "Desciption", class:"textarea"
		=f.submit "Submit", class: "button tiny"