=form_for [@subtopic, @link] do |f|
	
	=f.text_field :title, placeholder: "Link title"

	=f.text_field :description, type:"text", placeholder: "Description", class:"textarea"

	=f.text_field :hlink, placeholder: "Link to the page, e.g. www.google.com"

	=f.submit "Submit", class: "button tiny"