=form_for @link do |f|
	br
		=f.text_field :title, placeholder: "Link"
	br
		=f.text_field :description, placeholder: "Desciption"
	br
		=f.text_field :hlink, placeholder: "Link to the page"
	br
		=f.submit