=form_for [@subtopic, @link] do |f|
	
		=f.text_field :title, placeholder: "Link"
	
		=f.text_field :description, type:"text", placeholder: "Description"
	
		=f.text_field :hlink, placeholder: "Link to the page"
	
		=f.submit "Submit", class: "button tiny"