=form_for [@topic, @subtopic] do |f|
	br
		=f.text_field :title, placeholder: "Subtopic"
	br
		=f.text_field :description, type:"text", placeholder: "Description"
	br
		=f.submit "Submit", class: "button tiny"


